In [ ]:
Methods

In [1]:
mylist = [1,2,3]
mylist.append(4)   #adding 4 to the mylist

In [2]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop(2)     #removing the index 2 value from the list

3

In [6]:
mylist

[1, 2, 4]

In [12]:
Function

In [1]:
def say_hello():   #here function name say_hello
    print("hello")
    print("how")
    print("are")
    print("you")

In [2]:
say_hello()

hello
how
are
you

In [3]:
say_hello

In [1]:
def add_num(num1,num2):
    return num1 + num2

In [4]:
add_num(1,20)

21

In [5]:
result = add_num(1,20)
result

21

In [6]:
def print_result(a,b):
    print(a+b)

In [7]:
print_result(1,20)

21

In [13]:
result = print_result(1,20)
result
type(result)

21

NoneType

In [9]:
def return_results(a,b):
    return a+b

In [10]:
result= return_results(1,20)
result
type(result)

int

In [11]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [12]:
result = myfunc(1,20)
result

21

21

In [14]:
def sum_num(num1,num2):
    return num1 + num2

In [15]:
sum_num(1,20)

21

In [16]:
# Number in String Format and its combines the number
sum_num('1','20')

'120'

In [17]:
Logic with function

In [18]:
2 % 2    #Here performing modulus opertion

0

In [19]:
4 % 3

1

In [23]:
42 % 41

1

In [26]:
25 % 4

1

In [27]:
30 % 3 == 0    #comparing the value with 0

True

In [28]:
23 % 4 == 0

False

In [29]:
# Constructing the Logic opertion in Function
def even_check(number):
    result = number % 2 == 0
    return result

In [31]:
even_check(20)

True

In [32]:
even_check(27)

False

In [33]:
# Here trying to check the even number inside a list

def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [35]:
check_even_list([10,5,7,3])

True

In [4]:
# Here trying to check the even number inside a list
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            return False

In [5]:
check_even_list([10,5,7,3])

True

In [6]:
check_even_list([5,7,3])

False

In [7]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
        
    return False

In [9]:
check_even_list([2,3,4,5,6])

True

In [11]:
check_even_list([1,11,13,15])

False

In [12]:
Tuple Unpacking with Python Functions

In [13]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [14]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [15]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [16]:
for ticker, price in stock_prices:
    print(price)

200
400
100

In [18]:
# Tracking that who work with max hours
work_hours = [('A',100),('B',4000),('C',800)]

In [20]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    #Return
    return(employee_of_month,current_max)

In [21]:
result = employee_check(work_hours)
result

('B', 4000)

In [22]:
Interaction between Functions

In [24]:
# the multiple functions interact here
example = [10,20,34,45,89,90]

from random import shuffle

shuffle(example)
example

[10, 90, 20, 45, 89, 34]

In [25]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [26]:
result = shuffle_list(example)
result

[90, 20, 34, 89, 45, 10]

In [27]:
mylist = ['0', '0',' ']

shuffle_list(mylist)

['0', ' ', '0']

In [28]:
Function 3: Simple Boolean

In [10]:
def myclass(i):
    if i == True:
        return 'hello'
    else:
        return 'Pushpa'

In [11]:
def myclass(i):
    if i == True:
        return 'Hello'
    elif i== False:
        return 'Pushpa'
    else:
        return 'Enter a Valid Option'

In [14]:
myclass(True)

'Hello'

In [15]:
myclass(False)

'Pushpa'

In [16]:
myclass('no')

'Enter a Valid Option'

In [17]:
Function 4: Using Booleans

In [18]:
def myclass(a,b,c):
    if c == True:
        return a
    elif c == False:
        return b

In [19]:
myclass(2,3,False)

3

In [21]:
#Function 5: Simple Math

In [3]:
def myclass(a,b):
    return a + b

In [4]:
myclass(1,1)

2

In [5]:
Function 6: is even

In [6]:
def is_even(i):
    if i%2 == 0:
        return True
    else:
        return False

In [7]:
is_even(22)

True

In [8]:
is_even(11)

False

In [9]:
Function 7: is greater

In [10]:
def is_greater(x,y):
    if x > y:
        return True
    elif x <= y:
        return False

In [11]:
is_greater(100, 5)

True

In [12]:
is_greater(11, 50)

False

In [14]:
args and kwargs

In [15]:
def myclass(a,b):
    
    return sum((a,b))*0.05

In [16]:
myclass(30,45)

3.75

In [18]:
#args
def myclass(*args):
    for item in args:
        print(item)

In [20]:
myclass(1,2,3,4,5,6,7,8,9)

1
2
3
4
5
6
7
8
9

In [21]:
**kwargs(keyword arguments) - build dictionary of key value pairs

In [22]:
def myclass(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit')

In [24]:
myclass(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [26]:
myclass(veggie = 'lettuce')

{'veggie': 'lettuce'}
I did not find any fruit

In [27]:
# pick evens

In [30]:
def myclass(*args):
    for num in args:
        if num %2 == 0:
            print('{}'.format([num]))

In [31]:
myclass(2,4,6,7,8)

[2]
[4]
[6]
[8]

In [32]:
Lambda Expression

In [35]:
square = lambda num: num ** 2

In [37]:
square(10)

100

In [3]:
x = 25

def printer():
    x = 50
    return x

In [4]:
print(x)

25

In [8]:
Variable Referencing - Local,Enclosing function locals, Global & Built-in

In [9]:
#Local Variable as num
lambda num:num**2

In [11]:
# Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    #Enclosing
    name = 'Pushpa'
    
    def hello():
        #Local
        name = 'welcome'
        print('Hello '+name)
        
    hello()
    
greet()

Hello welcome

In [13]:
# Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    #Enclosing
    name = 'Pushpa'
    
    def hello():
        #Local
        #name = 'welcome'
        print('Hello '+name)
        
    hello()
    
greet()

Hello Pushpa

In [16]:
x = 100
def func(x):
    
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'new value'
    print(f'I JUST LOCALLY CHANGED X TO {x}')
    return x

In [17]:
print(x)

100

In [18]:
x = func(x)

X is 100
I JUST LOCALLY CHANGED X TO new value

In [19]:
x

'new value'