In [4]:
name = "pushpa"  #assigning the string to variable 'name'

In [5]:
print(name)

pushpa

In [6]:
mylist = ['hello',5,'welcome',9.0,]  #assigning the values in the form of list

In [7]:
mylist                              #trying to print the variable mylsit

['hello', 5, 'welcome', 9.0]

In [8]:
len(mylist)                       #checking the length of mylist

4

In [10]:
mylist.append(7)              #adding the value to mylist

In [11]:
mylist

['hello', 5, 'welcome', 9.0, 7, 7]

In [12]:
mylsit.pop(4)

NameError: name 'mylsit' is not defined

In [13]:
mylist.pop(4)                  #removing the value for the list

7

In [14]:
len(mylist)

5

In [15]:
newlist = ['hello','merck']   #creating list and adding the values to list

In [16]:
mylist = mylist + newlist     #trying to combine the two list

In [17]:
mylist

['hello', 5, 'welcome', 9.0, 7, 'hello', 'merck']

In [18]:
mylist.pop(0)      #trying to remove the index value 0

'hello'

In [19]:
mylist

[5, 'welcome', 9.0, 7, 'hello', 'merck']

In [20]:
type(mylist)        #checking the data type

list

In [21]:
mylist.pop(3)

7

In [22]:
mylist

[5, 'welcome', 9.0, 'hello', 'merck']

In [23]:
list = ['group']

In [24]:
list

['group']

In [25]:
print(list)          #trying to print the list

['group']

In [26]:
dict = {'k1':['data'],'k2': 876,'k3':100.95}  #create a dictionary

In [27]:
dict

{'k1': ['data'], 'k2': 876, 'k3': 100.95}

In [28]:
dict['k2']           #printing k2 value

876

In [30]:
dict['k3']           #printing k3 value

100.95

In [31]:
my_dict ={'name':'pushpa','age':22}

In [32]:
print(my_dict)

{'name': 'pushpa', 'age': 22}

In [33]:
print(my_dict['address'])

KeyError: 'address'

In [34]:
my_dict[name]  #error due to quotes

KeyError: 'pushpa'

In [35]:
my_dict['name']

'pushpa'

In [36]:
my_dict['age']

22

In [37]:
myset = set()    #print a different values using sets

In [38]:
myset

set()

In [39]:
myset.add(1)   #adding a 1 value to the set

In [40]:
myset

{1}

In [41]:
myset.add(25)     #adding a 25 to the set

In [42]:
myset

{1, 25}

In [43]:
mylist = [1,1,2,2,3,3,4,4,5,5]

In [44]:
set(mylist)       #Here printing common values in the list

{1, 2, 3, 4, 5}

In [49]:
a = True

In [50]:
type(a)    #checking the data type

bool

In [51]:
print(10>9)

True

In [52]:
print(10==9)

False

In [53]:
print(10<9)

False