In [ ]:
Control Flow Statments

In [6]:
if 3>2:
   print('its true')

its true

In [7]:
flower = True

if flower:                        #using if condition
     print('color is red')

color is red

In [8]:
flower = False

if flower:
    print('color is red')          #using both if and else conditions
else:
    print('color is not red')

color is not red

In [11]:
loc = 'Bank'

if loc == 'Auto shop':
    print('Cars are cool')
else:
    print('I do not know much.')

I do not know much.

In [16]:
loc = 'Bank'

if loc == 'Auto shop':                      #here if,elif and else conditions
    print('Cars are cool')               
elif loc == 'Bank':
    print('Money is cool')
else:
    print('I do not know much.')

Money is cool

In [15]:
loc = 'Auto shop'

if loc == 'Auto shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Company':
    print('Welcome to Company')
else:
    print('I do know much')

Cars are cool

In [18]:
loc = 'Game'

if loc == 'Auto shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Company':
    print('Welcome to Company')
else:
    print('I do not know much')

I do not know much

In [20]:
name = 'Pushpa'

if name == 'Pushpa':
    print('Welcome Pushpa')
elif name == 'Ganu':
    print('Hello Ganu')
else:
    print('What is your name')

Welcome Pushpa

In [21]:
name = 'Shilpa'

if name == 'Pushpa':
    print('Welcome Pushpa')
elif name == 'Ganu':
    print('Hello Ganu')
else:
    print('What is your name')

What is your name

In [24]:
#Loops:for

In [26]:
mylist = [1,2,3,4,5,6,7,8,9,10]
#printing the numbers using for loop
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [28]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [30]:
#try to print the even numbers

for num in mylist:
    if num%2 == 0:
       print(num)

2
4
6
8
10

In [31]:
#try to print the even and odd numbers

for num in mylist:
    if num%2 == 0:
       print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [33]:
# assiging the value 0 to list_sum
list_sum = 0   

for num in mylist:
    #iterating the loop until the condition is done
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [34]:
list_sum = 0   

for num in mylist:
    #iterating the loop until the condition is done
    list_sum = list_sum + num
    
print(list_sum)

55

In [36]:
mystring = "Welcome to merck"

for words in mystring:
    print(words)

W
e
l
c
o
m
e

t
o

m
e
r
c
k

In [38]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [40]:
for item in mylist:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [41]:
mylist = [(9,8),(7,6),(5,4),(3,2),(1,0)]

In [42]:
len(mylist)       #checking length of the list

5

In [43]:
for item in mylist:
    #printing the item inside the mylist
    print(item)

(9, 8)
(7, 6)
(5, 4)
(3, 2)
(1, 0)

In [45]:
#Tuples Unpackin
for (a,b) in mylist:
    print(a)
    print(b)

9
8
7
6
5
4
3
2
1
0

In [46]:
#Tuples Unpackin
for (a,b) in mylist:
    print(a)

9
7
5
3
1

In [47]:
#Tuples Unpackin
for (a,b) in mylist:
    print(b)

8
6
4
2
0

In [48]:
d = {'k1':1,'k2':5,'k3':8}
#printing only keys
for item in d:
    print(item)

k1
k2
k3

In [50]:
d = {'k1':1,'k2':5,'k3':8}
#printing keys along with values which is assign to the key
for item in d.items():
    print(item)

('k1', 1)
('k2', 5)
('k3', 8)

In [51]:
d = {'k1':1,'k2':5,'k3':8}

for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
5
k3
8

In [54]:
d = {'k1':1,'k2':5,'k3':8}

for value in d.values():
    print(value)

1
5
8

In [ ]:
#loop:while

In [3]:
a = 0

while (a < 5):
    print(f'The Current Value of a is {a}')
    a = a + 1
else:
    print('a is not less than 5')

The Current Value of a is 0
The Current Value of a is 1
The Current Value of a is 2
The Current Value of a is 3
The Current Value of a is 4
a is not less than 5

In [4]:
x = 0

while (x < 5):
    print(f'The Current Value of x is {x}')
    x = x + 1

The Current Value of x is 0
The Current Value of x is 1
The Current Value of x is 2
The Current Value of x is 3
The Current Value of x is 4

In [1]:
x = 50

while (x < 5):
    print(f'The Current Value of x is {x}')
    x = x + 1
else:
    print('x is not less than 5')

x is not less than 5

In [5]:
# Break, Continue  and Pass

b = [10,11,12]

for item in b:
    #comment
    pass
print('end of my script')

end of my script

In [6]:
mystring = 'Pushpa'

for letter in mystring:
    print(letter)

P
u
s
h
p
a

In [7]:
mystring = 'Pushpa'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

P
u
s
h
p

In [2]:
mystring = 'Pushpa'

for letter in mystring:
    if letter == 'u':
        break
    print(letter)

P

In [4]:
a = 0

while (a < 5):
    print(a)
    a = a + 1

0
1
2
3
4

In [2]:
a = 0

while (a < 10):
    if a == 4:
        break
    print(a)
    a = a + 1

0
1
2
3

In [5]:
a = 0

while (a < 10):
    print(a)
    a = a + 1

0
1
2
3
4
5
6
7
8
9

In [6]:
mylist = [1,2,3]

In [7]:
for num in range(5):
    print(num)

0
1
2
3
4

In [9]:
for num in range(6,10):
    print(num)

6
7
8
9

In [10]:
for num in range(0,10,4):
    print(num)

0
4
8

In [11]:
index_count = 0
word = 'abcde'

for letter in word:
    
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [13]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [15]:
word = 'hello'
#try to print the word with index
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
h


1
e


2
l


3
l


4
o

In [16]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [17]:
for item in zip(mylist1, mylist2,mylist):
    print(item)

(1, 'a', 1)
(2, 'b', 2)
(3, 'c', 3)

In [18]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [19]:
a = ("Pushpa", "Shilpa", "kaveri")
b = ("pargathi", "Shamu", "kavya", "Moni")

x = zip(a, b)

#use the tuple() function to display a readable results
print(tuple(x))

(('Pushpa', 'pargathi'), ('Shilpa', 'Shamu'), ('kaveri', 'kavya'))

In [20]:
mylist = [10,20,30,40,50]

In [21]:
min(mylist)   #checking the minimum value in mylist

10

In [22]:
max(mylist)    #checking the maximum value in mylist

50

In [23]:
from random import shuffle
#Here shffling the values in mylist
mylist = [10,20,30,40,50]
shuffle(mylist)
mylist

[50, 20, 30, 10, 40]

In [24]:
from random import randint

randint(0,50)

2

In [25]:
input('Enter a number here: ')

Enter a number here: 25

'25'

In [26]:
result = input('Enter a number here: ')

Enter a number here: 25

In [27]:
type(result)

str

In [28]:
float(result)

25.0

In [29]:
int(result)

25

In [30]:
#List Comprehensions

In [31]:
mystring = 'Welcome'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [32]:
mylist

['W', 'e', 'l', 'c', 'o', 'm', 'e']

In [34]:
mylist = [x for x in 'Class']
mylist

['C', 'l', 'a', 's', 's']

In [35]:
# try do get a values in betwwen 1 to 8
mylist = [num for num in range(0,8)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7]

In [37]:
# 2 is multiple to the numbers in list
mylist = [num**2 for num in range(0,15)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [39]:
#trying to print the even number in the list
mylist = [x for x in range(0,15) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10, 12, 14]

In [40]:
Celcius = [0,10,20,34.5]
#checking the fahrenheit value using the celcius as reference
fahrenheit = [((9/5)*temp + 32)for temp in Celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [41]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [42]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [43]:
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]